.body{
    font-family: 'Roboto', sans-serif;
    
}
.fullBody{
    color:#fff;
    height:100vh;
    background:#050A30;
    /* background-image:linear-gradient(to right,#cc2b5e,#753a88); */
}
.mainBody {
    padding-top:50px;
}
.npm-output{
    box-shadow: 1px 1px 5px #fff;
}
.npm-output-box{
    display:flex;
    justify-content: center;
   
}
.npm-output{
    width:90%;   
}
.box{
    background:#fa05d7;
    border-radius: 5px;
    font-weight: 600;
}
input.cheker{

    width:20px;
    height:15px;
}
.server{
    margin-top:-80px;
}
